<launch>
	<!-- Launch Your robot arms launch file which loads the robot in Gazebo and spawns the controllers -->
	<include file = "$(find moveit_pkg)/launch/new_launch.launch" />

	<!-- Launch Moveit Move Group Node -->
	<!-- <include file = "$(find moveit_pkg)/launch/move_group.launch" /> -->

	<!-- Run Rviz and load the default configuration to see the state of the move_group node -->
	<arg name="use_rviz" default="true" />

	<!-- <include file="$(find moveit_pkg)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
		<arg name="rviz_config" value="$(find moveit_pkg)/launch/moveit.rviz"/>
	</include> -->
	 
	<!-- Start controller manager -->
  <node name="controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" />

</launch>